# Frontend Google ReCAPTCHA v2 Site Key (Public)
VITE_RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI

# Backend Google ReCAPTCHA v2 Secret Key (Private)
# Used in server.js to verify tokens from the frontend.
VITE_RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
